/* ENCABEZADO CENTRADO */
#cuerpo{
    background-color: rgb(236, 236, 236);
}
#encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
    
}
#titulo1 {
    font-family: 'Roboto', sans-serif;
    
}
#titulo2{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000px;
    
    
    
    
}
#subtitulo{
    font-family: 'Roboto', sans-serif;
    

}

#subtitulo2{
    font-family: 'Roboto', sans-serif;
}

/* de aqui es el contenido del main */

.icono{
    float: right;
    padding: 10px;
    
    
}

.titart{
    padding: 10px;
}

.art { 
    padding: 10px;
}

/* ESTILOS DE BARRAS EN ARTICULOS */
.colorbarra1{
    border: 10px;
    border-radius: 5px;
    background-color: #e95553;
    height: 10px;
    width: 350px;
    
    float: inline-start;
    display: flex;
    align-items: flex-start;
}
.colorbarra2{
    border: 10px;
    border-radius: 5px;
    background-color: #46d1cf;
    height: 10px;
    width: 350px;
    
    float: inline-start;
    display: flex;
    align-items: flex-start;
}
.colorbarra3{
    border: 10px;
    border-radius: 5px;
    background-color: #569cec;
    height: 10px;
    width: 350px;
    
    float: inline-start;
    display: flex;
    align-items: flex-start;
}
.colorbarra4{
    border: 10px;
    border-radius: 5px;
    background-color: #f8af51;
    height: 10px;
    width: 350px;
    
    float: inline-start;
    display: flex;
    align-items: flex-start;
}

/* ESTILOS DE ARTICULOS */
#articulo1{
    margin: auto; 
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.068);
    width: 350px;
    height: 250px;
    font-family: 'Roboto', sans-serif;  
}

#articulo2{
    float: left;
    margin-left: 950px;
    margin-top: -100px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.068);
    width: 350px;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    
    
}

#articulo3{
    float: right;
    margin-right: 950px;
    margin-top: -100px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.068);
    width: 350px;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    
}
#articulo4{
    margin: auto;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.068);
    width: 350px;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    
}
